html {
  /* To make 1 rem = 10px 
  10/16 = 0.625 * 100 = 62.5% */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* END OF COMMON STYLES */

/* NAVBAR */

/* SIDEBAR */

.sidebar {
  width: 8rem;
  height: 100%;
  background-color: #eeeeee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

/* ---MENU ICON--- */

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icon .line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #222;
  margin-bottom: 0.6rem;
}

.menu-icon .line-1,
.menu-icon .line-3 {
  width: 1.8rem;
  transition: all 0.4s ease;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

/* ---END OF MENU ICON--- */

/* ---SOCIAL MEDIA ICONS--- */

.social-media-icons {
  list-style: none;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-link {
  font-size: 1.8rem;
  color: #777;
  transition: color 0.4s ease;
}

.social-link:hover {
  color: #deaa86;
}

/* ---END OF SOCIAL MEDIA ICONS--- */

/* ---YEAR--- */

.year {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* ---END OF YEAR--- */

/* END OF SIDEBAR */

/* Navigation */

nav {
  position: fixed;
  left: -30rem;
  width: 30rem;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(34, 32, 41, 1),
      rgba(34, 32, 41, 0.8)
    ),
    url(./img/nav-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s cubic-bezier(1, 0, 0, 1);
}

.navigation-header h1 {
  font-family: Josefin Sans, sans-serif;
  margin-top: 3rem;
  font-size: 3.5rem;
  color: #deaa86;
  font-weight: 300;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
}

.navigation-search {
  position: relative;
}

.navigation-search-input {
  width: 20rem;
  padding: 0.8rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  color: #deaa86;
  font-family: Josefin Sans, sans-serif;
  outline: none;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 20%;
  transition: background-color 0.3s ease;
}

.navigation-search-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-button {
  background: transparent;
  border: none;
  color: #deaa86;
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
}

.navigation-list {
  height: 28rem;
  list-style: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  text-decoration: none;
  color: #fff;
}

.navigation-link::before {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width 0.3s ease;
}

.navigation-link::after {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #deaa86;
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: width 0.3s ease;
}

.navigation-link:hover {
  color: #deaa86;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 3rem;
}

.navigation-copyright {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.checkbox:checked ~ .navigation {
  left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}
/* End of Navigation */

/* END OF NAVBAR */

/* HERO-LANDING PAGE */

.hero-header {
  margin-left: 8rem;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./img/header-1.jpeg) center no-repeat;
  background-size: cover;
}

.hero-logo {
  display: flex;
  cursor: pointer;
}

.hero-logo h3 {
  font-family: Josefin Sans, sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

.hero-banner {
  color: #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner-title {
  font-family: Josefin Sans, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  animation: anim 2s;
}

.hero-banner-tagline {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: anim 1.5s 0.5s backwards;
}

.hero-banner-cta {
  width: 21rem;
  letter-spacing: 0.1rem;
  color: #333;
  padding: 1.2rem 2rem;
  border: none;
  font-size: 2rem;
  border-radius: 10rem;
  outline: none;
  background: linear-gradient(to right, gold, goldenrod);
  cursor: pointer;
}

.hero-banner-cta:hover {
  background: linear-gradient(to left, gold, goldenrod);
}

.hero-banner-cta:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* End of HERO-LANDING PAGE */

/* ABOUT US page */

section.about-us {
  margin-left: 8rem;
  display: flex;
  background-color: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.about-us-title {
  font-family: Josefin Sans, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #555;
}

.about-us-underline__small-underline {
  width: 9rem;
  height: 0.1rem;
  background-color: #deaa86;
  margin: 0 auto 1.5rem;
}

.about-us-underline__big-underline {
  width: 20rem;
  height: 0.2rem;
  background-color: #deaa86;
  margin: 0 auto 1.5rem;
}

.about-us-subheading {
  margin: 3rem 0;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #b85d1c;
}

.about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us-btn {
  font-family: "Montserrat", sans-serif;
  background: transparent;
  outline: none;
  border: 1px solid #b85d1c;
  color: #b85d1c;
  text-transform: uppercase;
  padding: 0.7rem 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.about-us-btn:hover i {
  padding-left: 1rem;
  transition: all 0.4s ease;
}

.about-us-images {
  flex: 1 1;
  position: relative;
}

.image {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.2rem solid #b85d1c;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
}

.image-3 {
  transform: translate(-50%, -50%);
}

.image-1 {
  transform: translate(-20%, -90%);
}

.image-2 {
  transform: translate(-70%, -70%);
}

.image-4 {
  transform: translate(-30%, -30%);
}

/* End of ABOUT US page */

/* ROOMS page */

.common-header {
  padding: 5rem;
  text-align: center;
  color: #b85d1c;
}

.common-heading {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.rooms {
  margin-left: 8rem;
  margin-bottom: 8rem;
}

.rooms-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.room-card {
  width: 40rem;
  margin: 5rem;
  background-color: #15141b;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
}

.room-card img {
  width: 100%;
}

.room-card-content {
  color: #ddd;
  padding: 2rem;
}

.room-card-content-header {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.room-card-content-para {
  font-size: 1.5rem;
  color: #777;
}

.room-card-content-amount {
  font-size: 4rem;
  font-weight: 300;
  text-align: right;
}

.room-card-content-button {
  font-family: "Montserrat", sans-serif;
  background: transparent;
  outline: none;
  border: 1px solid #b85d1c;
  color: #b85d1c;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 10rem;
}

.rooms-card-wrapper-btn {
  margin-top: 2rem;
  text-align: center;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.068);
}

.room-card-btn {
  background-color: #fff;
  border-radius: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #b85d1c;
  border: 0.2rem solid #b85d1c;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
}

/* End of ROOMS page */

/* Customers page */

.customers {
  margin-left: 8rem;
  padding-bottom: 7rem;
  background-color: #222;
}

.customers-paragraph {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin: 2rem auto 8rem auto;
  width: 50%;
}

.customers-card-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.customer-card {
  padding: 2rem;
  background-color: #fff;
  width: 60rem;
  display: flex;
}

.customer-image-wrapper {
  margin: auto 0;
}

.customer-image {
  width: 20rem;
  margin-left: -1.3rem;
}

.customer-info {
  padding: 0 2rem;
}

.customer-info h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.customer-para-1 {
  font-style: italic;
  font-size: 1.2rem;
  color: #b85d1c;
}

.customer-para-2 {
  font-style: italic;
  font-size: 1.3rem;
}

/* End of Customers page */

/* FOOTER page */

.footer {
  margin-left: 8rem;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  padding: 4rem;
}

.footer-heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer-list {
  list-style: none;
}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #bbb;
}

.contact p {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 25rem;
  padding: 1rem;
  font-family: Josefin Sans, sans-serif;
  font-size: 1.8rem;
  color: #444;
  outline: none;
}

.footer-btn {
  padding: 1rem;
  background-color: #b85d1c;
  color: #ddd;
  border: none;
}

.gallery {
  max-width: 45rem;
}

.image-wrapper {
  width: 12rem;
  margin: 0.4rem;
}

.footer-image {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: 0.8;
}

.creator-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 2rem;
}

.copyright-text {
  font-size: 1.3rem;
  color: #aaa;
}

.text-right {
  font-size: 1.4rem;
  color: #bbb;
}

.text-right i {
  font-size: 1.5rem;
  color: red;
  margin: 0.5rem;
}

/* End of Footer page */
